
like_fourier\.dSYM/

like_fourier\.so\.dSYM/

compute_covariances_fourier\.dSYM/

compute_covariances_fourier

like_fourier

cov/

like/

\.ipynb_checkpoints/

external/

plots/

like_grs\.so\.dSYM/

*.pyc

*.so
